@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.slogan {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.logoDot {
  height: 100px;
  width: 100px;
  background-color: #2e6464;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 10px;
}
/* .logoDot later gets the icon/play button*/

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
